/* Global */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #16171b;
}

/* Unique */

#not-found {
    margin: 0;
    font-size: 20px;
    color: red;
}

.yes-transparent {
    visibility: hidden;
}

.day-level-0 {
    background-color: #0f0f12;
}

.day-level-1 {
    background-color: #ba9b95;
}

.day-level-2 {
    background-color: #ba8277;
}

.day-level-3 {
    background-color: #ba6959;
}

.day-level-4 {
    background-color: #ba513c;
}

.day-level-5 {
    background-color: #ba381e;
}

.day-level-6 {
    background-color: #ba1f00;
}

/* Structured */

#activity-chart {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: min-content;
    background-color: #16171b;
    border: 2px solid #0f0f12;
    box-shadow: 0px 0px 0px 6px rgba(15, 15, 18, 1) inset;
}

#user-and-year {
    justify-self: center;
    margin: 0 0 5px;
    padding: 0 14px;
}

#user-and-year h1 {
    margin: 0;
    padding: 5px 10px;
    font-size: 20px;
    color: #c0c9ed;
    background-color: #0f0f12;
}

#year-container {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    padding: 5px 15px;
}

.month {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.month .month-title {
    margin: 4px auto;
    font-size: 14px;
    color: #555969;
}

.month .month-container {
    display: grid;
    grid-template-columns: repeat(7, max-content);
}

.month-container .week {
    display: grid;
    grid-template-rows: repeat(7, max-content);
}

.week .day {
    width: 14px;
    height: 14px;
    margin: 2px;
    position: relative;
}

.day .tooltip-text {
    visibility: hidden;
    width: 220px;
    bottom: 130%;
    left: 50%;
    margin-left: -110px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    opacity: 0.9;
    color: #bcc5e8;
    background-color: #333333;
}

.day:hover .tooltip-text {
    visibility: visible;
}

#additional-info {
    font-size: 16px;
    margin: 5px 0 0;
    padding: 8px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0f0f12;
}

#additional-info div {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}

#additional-info svg {
    fill: #bb432c;
}

#additional-info span {
    margin: 5px 0 0 5px;
    font-size: 16px;
}

#additional-info div span {
    color: #c0c9ed;
}